

.footer{
    text-align: center;
    height: 80px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    justify-content: center;
    background: #EEAECA;
    background: radial-gradient(circle, rgb(238 174 202 / 100%) 0%, rgb(148 187 233 / 100%) 100%);
    color: rebeccapurple;
    font-size: 20px;
    font-weight: 600;
}